<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    {{ title }}!
  </h1>
</div>
<div class="container">
  <div class="text-right mt-5">
    <div class="row">
      <div class="col-md-4">

        <!-- Master Checkbox -->
        <!--        <ul class="list-group">-->
        <!--          <li class="list-group-item">-->

        <!--            <span (click)="selectUnselectAll(data)">-->
        <!--              <span *ngIf="data.isAllSelected;else noneSelected">Unselect All </span>-->
        <!--              <ng-template #noneSelected>Select All </ng-template>-->
        <!--            </span>-->

        <!--            &lt;!&ndash;Master Expand/ Collapse Arrow  &ndash;&gt;-->
        <!--            <span (click)="expandCollapseAll(data)">-->
        <!--              <i class="fas fa-angle-up" *ngIf="data.isAllCollapsed;else isCollapsed"></i>-->
        <!--              <ng-template #isCollapsed><i class="fas fa-angle-down"></i></ng-template>-->
        <!--            </span>-->

        <!--          </li>-->
        <!--        </ul>-->

        <ul class="list-group">

<!--           Parent Item-->
<!--                    <li class="list-group-item" *ngFor="let item of products">-->
<!--                      <label>-->
<!--                      <input type="checkbox" name="list_name" value="{{item.name}}"/>-->
<!--                        {{item.name}}-->
<!--                      </label>-->


          <table  class="list-group-item "*ngFor="let user of products">
            <tr>
              <td><label>
                <input type="checkbox" name="list_name" value="{{user.name}}"/>
                {{user.name}}
              </label>
              </td>
            </tr>
            <tr *ngFor="let choice of user.choices">
              <td></td>
              <td> <label>
                <input type="checkbox" name="list_name" value="{{user.name}}"/>
                {{ choice.name }}
              </label> </td>
            </tr>
            <span *ngFor="let subject of user.related">
              <tr>

                <td></td>
                <td><label>
                  <input type="checkbox" name="list_name" value="{{user.name}}"/>
                  {{subject.name}}
                </label>
                </td>
              </tr>
              <div *ngFor="let  r of subject.choices">
                <tr>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td>
                    <label>
                      <input type="checkbox" name="list_name" value="{{user.name}}"/>
                      {{r.name}}
                    </label>
                  </td>
                </tr>

              </div>
            </span>

          </table>
          <!--                   (ngModelChange)="parentCheck()" -->


          <!-- Parent Checkbox -->
          <!--            <input type="checkbox" [(ngModel)]="item.isSelected" name="list_name" value="{{item.name}}"-->
          <!--                   (ngModelChange)="parentCheck(item)" />-->
          <!--            {{item.value}}-->
          <!--            &lt;!&ndash; Parent Arrow &ndash;&gt;-->
          <!--            <span (click)="expandCollapse(item)">-->
          <!--              <i class="fas fa-angle-up" *ngIf="item.isClosed;else isCollapsed"></i>-->
          <!--              <ng-template #isCollapsed>-->
          <!--                <i class="fas fa-angle-down"></i>-->
          <!--              </ng-template>-->
          <!--            </span>-->
          <!--            <div class="child-list" [hidden]="item.isClosed">-->

          <!--              <ul class="list-group level-two">-->
          <!--                &lt;!&ndash; Child Item &ndash;&gt;-->
          <!--&lt;!&ndash;                <li class="list-group-item level-two" *ngFor="let itemChild of&ndash;&gt;-->
          <!--&lt;!&ndash;                item.childList">&ndash;&gt;-->
          <!--&lt;!&ndash;                  &lt;!&ndash; Child Checkbox &ndash;&gt;&ndash;&gt;-->
          <!--&lt;!&ndash;                  <input type="checkbox" [(ngModel)]="itemChild.isSelected" name="list_name_child"&ndash;&gt;-->
          <!--&lt;!&ndash;                         value="{{itemChild.id}}" (ngModelChange)="childCheck(item,item.childList)" />&ndash;&gt;-->
          <!--&lt;!&ndash;                  {{itemChild.value}}&ndash;&gt;-->
          <!--&lt;!&ndash;                </li>&ndash;&gt;-->

          <!--              </ul>-->

          <!--            </div>-->
          <!--          </li>-->
        </ul>


      </div>
    </div>
  </div>
</div>
