<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    {{title}}
  </h1>

</div>
<div class="content" hidden><span>restaurant-menu app is running!</span></div>
<div class="container">
  <div class="text-left mt-5">
    <div class="row">
      <div class="col-md-4">


        <ul class="list-group">

          <!-- Parent Item -->
          <li class="list-group-item" *ngFor="let item of data.ParentChildchecklist">

            <!-- Parent Checkbox -->
            <span>
            <input type="checkbox" [(ngModel)]="item.isSelected" name="list_name"
                   (click)="expandCollapse(item)"/>
              {{item.name}}
            </span>
            <!-- Parent Arrow -->
            <span (click)="expandCollapseAll(item)">
              <i class="fas fa-angle-up" *ngIf="item.isClosed;else isCollapsed"></i>
              <ng-template #isCollapsed>
                <i class="fas fa-angle-down"></i>
              </ng-template>
            </span>
            <div class="child-list" [hidden]="!item.isClosed">

              <ul class="list-group level-two">
                <!-- Child Item -->
                <li class="list-group-item level-two" *ngFor="let itemChild of
                item.choices">
                  <!-- Child Checkbox -->

                  <input type="checkbox" [(ngModel)]="itemChild.isSelected" name="list_name_child"
                         value="{{itemChild.id}}"
                  />
                  {{itemChild.name}}
                </li>

              </ul>
              <ul class="list-group level-two">
                <b>You might also want </b>
                <!-- Child Item -->
                <li class="list-group-item level-two" *ngFor="let itemChild of item.related">
                  <!-- Child Checkbox -->
                  <span>
                  <input type="checkbox" [(ngModel)]="itemChild.isSelected" name="list_name_child"
                         value="{{itemChild.id}}"
                         (click)="expandCollapse(itemChild)"/>
                    {{itemChild.name}}
                  </span>
                  <div class="child-list" [hidden]="!itemChild.isClosed">
                    <ul class="list-group">
                      <li class="list-group-item level-two" *ngFor="let itemChild of
                        itemChild.choices">
                        <!-- Child Checkbox -->
                        <input type="checkbox" [(ngModel)]="itemChild.isSelected" name="list_name_child"
                               value="{{itemChild.id}}"/>
                        {{itemChild.name}}
                      </li>
                    </ul>
                  </div>
                </li>
              </ul>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
